.product-card-card {
  width: 250px;
  height: 395px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #a44dc7;
  border-radius: 12px;

  font-family: sans-serif;

  background-color: #000000de;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.product-card-card:hover {
  transform: scale(1.03);
  box-shadow: 8px 16px 16px hsl(0deg 2% 50% / 25%);
  transition: 0.3s;
}

.product-card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.product-card-info {
  padding: 16px;
}

.product-card-title {
  margin: 0 0 8px;

  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: normal;
}

.product-card-description {
  overflow: hidden;

  height: 43px;
  margin-bottom: 12px;

  font-size: 0.9rem;
  color: #555;
  white-space: normal;
}

.product-card-price {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.old-price {
  margin-right: 8px;
  color: #888;
  text-decoration: line-through;
}

.discounted-price {
  font-weight: bold;
  color: #e60023;
}

.normal-price {
  font-weight: bold;
  color: white;
}

.cart-buttton {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
  border: none;
  border-radius: 6px;

  font-size: 1rem;
  color: white;

  background-color: #a44dc3;

  transition: background-color 0.4s;
}

.cart-buttton:hover {
  background-color: #6b3083;
}

.cart-img {
  margin-right: 1rem;
}

.remove-product-item {
  font-size: 0.9rem;
  background-color: var(--error-color);
}

.remove-product-item:hover {
  background-color: #a12220;
}
