.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger-container:hover > span {
  background-color: var(--hover);
  transition: 0.3s;
}

.bar {
  display: block;

  width: 2rem;
  height: 0.2rem;
  margin: 0.45rem auto;

  background-color: var(--main-color);

  transition: 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(1rem) rotate(45deg);
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-0.26rem) rotate(-45deg);
}
