.product-card-wrapper {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  margin: auto;

  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalog-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;

  color: white;
}

@media (width <= 880px) {
  .catalog-wrapper {
    flex-flow: column wrap;
    align-items: center;
  }
}

.product-card-error {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-filter {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0.5rem;
  margin-left: 40px;
  padding: 1rem;
  border: 1px solid #a44dc7;
  border-radius: 12px;
}

.product-filter li {
  cursor: pointer;
}

.breadcrumb-nav li {
  cursor: pointer;
  list-style-type: none;
}

.product-filter li:hover {
  text-decoration: underline;
}

#search-product {
  height: 38px;
  border-radius: 7px 0 0 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  color-scheme: dark;
}

#search-product-btn {
  height: 38px;
  border: 1px solid var(--border-color);
  border-left: none;
  border-radius: 0 7px 7px 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  color: var(--font-color);
  text-transform: uppercase;

  background-color: inherit;
}

#search-product-btn:hover {
  cursor: pointer;
  color: var(--matte-black);
  background-color: var(--font-color);
  transition: var(--transition);
}

.breadcrumb-wrapper {
  color: white;
}

.breadcrumb-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumb-nav li::before {
  content: '►';
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.category-header {
  margin: 0;

  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}

.category-list {
  margin: 0.2rem;
}
