.hero-section {
  width: 100%;
}

.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  min-height: 60rem;

  background-image: url('../../../img/sky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  padding: 0.5rem;
  padding-top: 15%;

  font-size: 3rem;
  font-weight: 600;
  color: var(--hover);
  text-align: center;
  letter-spacing: 1rem;
}

.paragraph {
  padding: 0.6rem;

  font-size: 1rem;
  font-weight: 800;
  color: var(--hover);
  text-align: center;
  letter-spacing: 1rem;
}
