.sign-up {
  max-width: 678px;
  margin: auto;
  padding: 1px 0 20px;
  border-radius: 17px;

  background-color: #ececec;
}

.sign-up-h1 {
  text-align: center;
}

#sign-up-form {
  display: grid;
  grid-template-areas:
    'a a a a a'
    'b b b b b'
    'c c d d e'
    'f f f g g'
    'h h h i i'
    'j j j j j'
    'k k k k k';
  gap: 10px;

  min-width: 368px;
  max-width: 600px;
  min-height: 400px;
  max-height: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 17px;

  background-color: #c2c2c2;
}

.sign-up-form-li {
  display: flex;
  flex-flow: column wrap;
}

.sign-up-form-li:nth-of-type(1) {
  grid-area: a;
}

.sign-up-form-li:nth-of-type(2) {
  grid-area: b;
}

.sign-up-form-li:nth-of-type(3) {
  grid-area: c;
}

.sign-up-form-li:nth-of-type(4) {
  grid-area: d;
}

.sign-up-form-li:nth-of-type(5) {
  grid-area: e;
}

.sign-up-form-li:nth-of-type(6) {
  grid-area: f;
}

.sign-up-form-li:nth-of-type(7) {
  grid-area: g;
}

.sign-up-form-li:nth-of-type(8) {
  grid-area: h;
}

.sign-up-form-li:nth-of-type(9) {
  grid-area: i;
}

.sign-up-form-input-style {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 7px;
}

.sign-up-form-error-msg {
  color: red;
}

.sign-up-form-ig-error-msg {
  grid-area: k;
  width: 100%;
  font-size: 1.2rem;
  color: red;
}

.sign-up-form-success-msg {
  grid-area: k;
  width: 100%;
  font-size: 1.2rem;
  color: green;
}

#sign-up-form-submit-btn {
  grid-area: j;
  height: 35px;
}

@media only screen and (width <= 599px) {
  #sign-up-form {
    grid-template-areas:
      'a a'
      'b b'
      'c c'
      'd d'
      'e e'
      'f f'
      'g g'
      'h h'
      'i i'
      'j j';
  }
}
