/* styles.css */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(3 7 9);
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 1rem;

  background-color: #0d0f11;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;
  border: 1px solid #2a2d33;
  border-radius: 1rem;

  color: white;

  background-color: #1b1d21;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%);
}

.login-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.login-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #d1d5db;
}

.login-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #2a2d33;
  border-radius: 0.375rem;

  font-size: 1rem;
  color: white;

  background-color: #0d0f11;
  outline: none;

  transition: border 0.2s ease;
}

.login-input:focus {
  border-color: #dcdcdc;
}

.login-button {
  cursor: pointer;

  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: bold;
  color: white;

  background-color: #3d66f5;

  transition: background-color 0.2s ease;
}

.login-button:disabled {
  pointer-events: none;
  cursor: default;
  color: rgb(104 104 104 / 40%);
  background-color: rgb(71 71 71 / 40%);
}

.login-button:hover {
  background-color: #365adc;
}

.error-message {
  min-height: 1.2em;
  margin-top: 4px;

  font-size: 0.9em;
  color: red;

  visibility: visible;
}

.error-placeholder {
  min-height: 1.2em;
  margin-top: 4px;
  font-size: 0.9em;
  visibility: hidden;
}

/* Utility class */
.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.min-height {
  min-height: 1.2em;
}

.checkbox-wrapper {
  margin-top: 0.5rem;
}

.checkbox-label {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;

  font-size: 0.9rem;
  color: #d1d5db;
}

.checkbox-input {
  cursor: pointer;
  margin-right: 0.5em;
}

.redirect-to-login-link {
  margin-left: 5px;
  color: #a44dc7;
}