:root {
  --background-color: rgb(3 7 9);
  --main-color: #9c9c9c;
  --hover: #dcdcdc;
  --shadow:
    0 0 7px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #86b2c5, 0 0 80px #86b2c5,
    0 0 190px #86b2c5, 0 0 105px #86b2c5, 0 0 155px #86b2c5;
  --matte-black: #242424;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

a:visited {
  color: inherit;
}
